@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
:root {
  --font-family: "Pretendard";
  --black-color: #222222;
}

/* font */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.img {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 레이아웃 */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-bc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 스크롤 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* checkbox */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block;
  line-height: 22px;
  background: url("../img/ico-check-box-off.svg") left center no-repeat;
  padding-left: 30px;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  display: inline-block;
  line-height: 22px;
  background: url("../img/ico-check-box-on.svg") left center no-repeat;
}

/* swal */
.custom-swal-title {
  font-family: var(--font-family) !important;
  font-size: 18px !important;
  color: #222 !important;
}

.custom-swal-popup {
  width: 280px !important;
  font-size: 14px !important;
  padding: 10px !important;
}

.custom-swal-btn {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* 공통사항 */
body {
  font-family: var(--font-family);
  color: var(--black-color);
}

button {
  color: #fff;
  background-color: #f53b3b;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover {
  background-color: #b71a1a;
}

h2 {
  font-size: 42px;
}
h2 strong {
  color: #f53b3b;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  /* padding: 30px 60px; */
  padding: 16px 60px;
  background-color: #fff;
}
header button {
  font-size: 18px;
  border-radius: 24px;
  padding: 13px 29px;
}

/* page1 */
.page1 {
  background-color: #fff;
  padding-bottom: 80px;
}
.page1::after {
  content: "";
  display: block;
  max-width: 1960px;
  width: 100%;
  height: 240px;
  margin: auto;
  background: url("../img/img-kb.png") no-repeat center/cover;
}
.page1 h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 52px auto 20px;
}
.page1 h1 {
  font-size: 52px;
}
.page1 h1 strong {
  color: #f53b3b;
}
.page1 p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  color: #888;
  margin: 36px 0;
}
.page1 button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 90px;
}

/* page2 */
.page2 {
  background-color: #f8f8f8;
}
.page2 h2 {
  padding-top: 120px;
}
.page2 h2::after {
  position: relative;
  bottom: -7px;
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url("../img/img-tit-01.png") no-repeat center/cover;
  -webkit-animation: ball 0.5s ease-in Infinite Alternate;
          animation: ball 0.5s ease-in Infinite Alternate;
}
@-webkit-keyframes ball {
  0% {
    bottom: -7px;
  }
  to {
    bottom: 4px;
  }
}
@keyframes ball {
  0% {
    bottom: -7px;
  }
  to {
    bottom: 4px;
  }
}
.page2 .box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 80px auto 120px;
  padding: 0 16px;
}
.page2 .box_wrap article {
  max-width: 300px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  padding: 48px 0;
}
.page2 .box_wrap article::before {
  content: "";
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url("../img/ico-con-2-01.png") no-repeat center/cover;
}
.page2 .box_wrap article h3 {
  font-size: 24px;
  margin: 32px auto 12px;
}
.page2 .box_wrap article p {
  font-size: 16px;
  line-height: 1.5;
  color: #888;
}
.page2 .box_wrap article:nth-child(2)::before {
  background: url("../img/ico-con-2-02.png") no-repeat center/cover;
}
.page2 .box_wrap article:nth-child(3)::before {
  background: url("../img/ico-con-2-03.png") no-repeat center/cover;
}
.page2 .box_wrap article:nth-child(4)::before {
  background: url("../img/ico-con-2-04.png") no-repeat center/cover;
}
.page2 .box_bg {
  background-color: #fff;
}
.page2 .box_bg .bg_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 310px;
}
.page2 .box_bg .bg_wrap::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 256px;
  height: 268px;
  background: url("../img/img-con-3.png") no-repeat center/cover;
}
.page2 .box_bg .bg_wrap div {
  position: relative;
  margin-left: 200px;
}
.page2 .box_bg .bg_wrap div::before {
  position: absolute;
  bottom: -32px;
  left: -159px;
  content: "";
  width: 52px;
  height: 52px;
  background: url("../img/obj-02.png") no-repeat center/cover;
  -webkit-animation: ball2 0.5s ease-in Infinite Alternate;
          animation: ball2 0.5s ease-in Infinite Alternate;
}
@-webkit-keyframes ball2 {
  0% {
    bottom: -32px;
  }
  to {
    bottom: -22px;
  }
}
@keyframes ball2 {
  0% {
    bottom: -32px;
  }
  to {
    bottom: -22px;
  }
}
.page2 .box_bg .bg_wrap div::after {
  position: absolute;
  bottom: -10px;
  right: -245px;
  content: "";
  width: 60px;
  height: 60px;
  background: url("../img/obj-04.png") no-repeat center/cover;
  -webkit-animation: ball3 0.5s ease-in Infinite Alternate;
          animation: ball3 0.5s ease-in Infinite Alternate;
}
@-webkit-keyframes ball3 {
  0% {
    bottom: -10px;
  }
  to {
    bottom: 0px;
  }
}
@keyframes ball3 {
  0% {
    bottom: -10px;
  }
  to {
    bottom: 0px;
  }
}
.page2 .box_bg .bg_wrap h4 {
  position: relative;
  font-size: 42px;
}
.page2 .box_bg .bg_wrap h4 strong {
  color: #f53b3b;
}
.page2 .box_bg .bg_wrap h4::before {
  position: absolute;
  top: -64px;
  left: -105px;
  content: "";
  width: 64px;
  height: 64px;
  background: url("../img/obj-01.png") no-repeat center/cover;
  -webkit-animation: ball4 0.5s ease-in Infinite Alternate;
          animation: ball4 0.5s ease-in Infinite Alternate;
}
@-webkit-keyframes ball4 {
  0% {
    top: -64px;
  }
  to {
    top: -54px;
  }
}
@keyframes ball4 {
  0% {
    top: -64px;
  }
  to {
    top: -54px;
  }
}
.page2 .box_bg .bg_wrap h4::after {
  position: absolute;
  top: -41px;
  right: -86px;
  content: "";
  width: 64px;
  height: 64px;
  background: url("../img/obj-03.png") no-repeat center/cover;
  -webkit-animation: ball5 0.5s ease-in Infinite Alternate;
          animation: ball5 0.5s ease-in Infinite Alternate;
}
@-webkit-keyframes ball5 {
  0% {
    top: -41px;
  }
  to {
    top: -31px;
  }
}
@keyframes ball5 {
  0% {
    top: -41px;
  }
  to {
    top: -31px;
  }
}

/* page3 */
.page3 {
  padding-bottom: 120px;
}
.page3 .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: #ffe5e5;
}
.page3 .info .info_complete {
  position: absolute;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  white-space: nowrap;
  font-weight: bold;
}
.page3 .info .info_complete.active {
  -webkit-animation: info_complete 10s linear forwards;
          animation: info_complete 10s linear forwards;
}
@-webkit-keyframes info_complete {
  from {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes info_complete {
  from {
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.page3 .info .info_complete::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 24px;
  background: url("../img/ico-complete.png") no-repeat center/cover;
  margin-right: 12px;
}
.page3 h2 {
  padding-top: 120px;
}
.page3 h2::before {
  position: relative;
  top: -11px;
  left: -16px;
  content: "";
  display: inline-block;
  width: 42px;
  height: 33px;
  background: url("../img/img-tit-02.png") no-repeat center/cover;
  -webkit-animation: ball6 0.6s ease-in Infinite Alternate;
          animation: ball6 0.6s ease-in Infinite Alternate;
}
@-webkit-keyframes ball6 {
  0% {
    top: -11px;
  }
  to {
    top: -21px;
  }
}
@keyframes ball6 {
  0% {
    top: -11px;
  }
  to {
    top: -21px;
  }
}
.page3 p {
  font-size: 20px;
  color: #888;
  margin: 36px 0 60px;
}
.page3 form {
  max-width: 720px;
  margin: auto;
}
.page3 form > div {
  text-align: left;
  padding-bottom: 32px;
}
.page3 form > div.check_wrap {
  padding-bottom: 60px;
}
.page3 form label {
  font-size: 16px;
  font-weight: 500;
}
.page3 form label span {
  color: #f53b3b;
}
.page3 form input,
.page3 form textarea,
.page3 form .agree_box {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 16px;
  margin-top: 16px;
}
.page3 form textarea {
  height: 100px;
}
.page3 form .agree_box {
  height: 120px;
  padding: 20px 8px 14px 20px;
}
.page3 form .agree_box div {
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  overflow-y: auto;
}
.page3 form button {
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  padding: 17px 0;
}
.page3 form button.active {
  background-color: #444444;
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: rgba(34, 34, 34, 0.4);
  background-color: #f5f5f5;
  padding: 40px 60px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
footer ul:not(:last-child) {
  margin-bottom: 8px;
}
footer ul.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
footer ul.right li:nth-child(1):after {
  position: relative;
  right: -20px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: rgba(34, 34, 34, 0.2);
}

/* 반응형 */
@media screen and (max-width: 1199px) {
  /* 반응형 page2 */
  .page2 .box_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 648px;
    gap: 16px;
    margin: 40px auto 48px;
  }
  .page2 .box_wrap article {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .page2 .box_bg .bg_wrap div::after {
    right: -150px;
  }
  /* 반응형 footer */
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 40px 16px;
  }
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 8px;
  }
  footer ul.right {
    margin-top: 28px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 28px;
  }
  /* header */
  header {
    /* padding: 20px 17px; */
    padding: 16px 17px;
  }
  header .logo img {
    max-width: 130px;
  }
  header button {
    font-size: 16px;
    padding: 8px 20px;
  }
  /* 반응형 page1 */
  .page1 {
    padding-bottom: 40px;
  }
  .page1::after {
    content: "";
    height: 124px;
  }
  .page1 h3 {
    line-height: 1.4;
    font-size: 20px;
    margin: 17px auto 10px;
  }
  .page1 h3 strong {
    display: block;
  }
  .page1 h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  .page1 h1 span {
    display: block;
  }
  .page1 p {
    font-size: 16px;
    line-height: 1.38;
    margin: 20px auto 36px;
  }
  .page1 p span {
    display: block;
  }
  .page1 button {
    margin-bottom: 40px;
  }
  /* 반응형 page2 */
  .page2 h2 {
    padding-top: 48px;
  }
  .page2 h2::after {
    bottom: -4px;
    width: 32px;
    height: 32px;
  }
  .page2 .box_bg .bg_wrap {
    height: 515px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 48px;
  }
  .page2 .box_bg .bg_wrap::before {
    left: calc(50% - 128px);
  }
  .page2 .box_bg .bg_wrap div {
    margin-left: 0;
  }
  .page2 .box_bg .bg_wrap div::before {
    bottom: -213px;
    left: -23px;
    width: 44px;
    height: 44px;
  }
  @-webkit-keyframes ball2 {
    0% {
      bottom: -213px;
    }
    to {
      bottom: -203px;
    }
  }
  @keyframes ball2 {
    0% {
      bottom: -213px;
    }
    to {
      bottom: -203px;
    }
  }
  .page2 .box_bg .bg_wrap div::after {
    bottom: -267px;
    right: -26px;
    width: 52px;
    height: 52px;
  }
  @-webkit-keyframes ball3 {
    0% {
      bottom: -267px;
    }
    to {
      bottom: -257px;
    }
  }
  @keyframes ball3 {
    0% {
      bottom: -267px;
    }
    to {
      bottom: -257px;
    }
  }
  .page2 .box_bg .bg_wrap h4 {
    font-size: 28px;
  }
  .page2 .box_bg .bg_wrap h4::before {
    top: 117px;
    left: 13px;
    width: 60px;
    height: 60px;
  }
  @-webkit-keyframes ball4 {
    0% {
      top: 117px;
    }
    to {
      top: 107px;
    }
  }
  @keyframes ball4 {
    0% {
      top: 117px;
    }
    to {
      top: 107px;
    }
  }
  .page2 .box_bg .bg_wrap h4::after {
    top: 166px;
    right: 0;
    width: 56px;
    height: 56px;
  }
  @-webkit-keyframes ball5 {
    0% {
      top: 166px;
    }
    to {
      top: 156px;
    }
  }
  @keyframes ball5 {
    0% {
      top: 166px;
    }
    to {
      top: 156px;
    }
  }
  /* 반응형 page3 */
  .page3 {
    padding-bottom: 48px;
  }
  .page3 h2 {
    padding-top: 53px;
  }
  .page3 h2::before {
    top: -8px;
    left: -12px;
    width: 28px;
    height: 22px;
  }
  .page3 p {
    font-size: 16px;
    line-height: 1.5;
    margin: 24px 0 40px;
  }
  .page3 p span {
    display: block;
  }
  .page3 form {
    padding: 0 16px;
  }
}/*# sourceMappingURL=DigitalGround.css.map */